{% extends "AppBundle::email/base.html.twig" %}
{% block title %}{{ subject }}{% endblock %}
{% block content %}
    <p>Dear {{ user.fullName }},</p>
    <p>Your password has been reset.</p>
    <p>Sign in details:</p>
    <blockquote>
        <p>Temporary password: <strong>{{ user.plainPassword }}</strong></p>
        <p>API Key: <strong>{{ user.apiKey }}</strong></p>
    </blockquote>
{% endblock %}
